<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
        <a class="navbar-brand" routerLink='/'>Dating app</a>
        <!--NG-container does not generate HTML-->
        <ng-container  *ngIf="accountService.currentUser$ | async">
          <!--Conditionals in angular-->
          <!-- boolean values in angular are false by default-->
          <!--Using *ngIf div DOES NOT EXIST unitl condition is met-->
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link" routerLink="/members" routerLinkActive="active">Matches</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/messages" routerLinkActive="active">Messages</a>
            </li>
          </ul>
        </ng-container>

        <!--To use ngx-bootstrap dropdowns we need to use proper directives-->
        <!--*dropdownMenu - structural directive-->
        <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
          <a  class="dropdown-toggle text-light" dropdownToggle>Welcomne {{user.username | titlecase}}</a>
          <div class="dropdown-menu mt-3"*dropdownMenu>
            <a class="dropdown-item">Edit profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </div>


        <!--Angular form declaration (#)-->
        <!--Named #loginForm and of type ngForm, provided by angular-->
        <!--(ngSubmit) is a method(?) of ngForm and will call login() declered in nav.component-->
        <!--ngSubmit is binded by default by submit button in this form-->
        <form *ngIf="(accountService.currentUser$ | async) == null" #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()" autocomplete="off">
            <!--Implementing two way binding requires: name(property that we want to track)-->
            <!--a-ng-model =>  [(ngModel)]="binding"-->
            <!--Square bracets are used from recieving from component-->
            <!--Parenthasis are used for sending data from template to component-->
          <input 
            name="username"
            [(ngModel)]="model.username"
            class="form-control me-2"
            type="text" 
            placeholder="Username">
            
          <input
            name="password"
            [(ngModel)]="model.password"
            class="form-control me-2" 
            type="password" 
            placeholder="Password">
          <button class="btn btn-success" type="submit">Login</button>
        </form>

      </div>

  </nav>